*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  background: white;
}

body {
  margin: 5px;
  width: 726px;
  height: 420px;
  background: white;
  border: solid rgb(219, 76, 63);
  border-width: 1px;
}

.header {
  max-width: 100%;
  height: 41px;
  background: rgb(219, 76, 63);
  padding-left: 11px;
  padding-top: 7px;
}

#search {
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  border-width: 0px;
  width: 136px;
  height: 19px;

  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iI2M4YzhjOCI+PHBhdGggZD0iTTY0LjUsMTQuMzMzMzNjLTI3LjYyMTQsMCAtNTAuMTY2NjcsMjIuNTQ1MjcgLTUwLjE2NjY3LDUwLjE2NjY3YzAsMjcuNjIxNCAyMi41NDUyNyw1MC4xNjY2NyA1MC4xNjY2Nyw1MC4xNjY2N2MxMi41MjczMiwwIDIzLjk3MjU2LC00LjY3MjQ5IDMyLjc4MTksLTEyLjMxNzcxbDMuMDUxNDMsMy4wNTE0M3Y5LjI2NjI4bDQzLDQzbDE0LjMzMzMzLC0xNC4zMzMzM2wtNDMsLTQzaC05LjI2NjI4bC0zLjA1MTQzLC0zLjA1MTQzYzcuNjQ1MjEsLTguODA5MzQgMTIuMzE3NzEsLTIwLjI1NDU4IDEyLjMxNzcxLC0zMi43ODE5YzAsLTI3LjYyMTQgLTIyLjU0NTI3LC01MC4xNjY2NyAtNTAuMTY2NjcsLTUwLjE2NjY3ek02NC41LDI4LjY2NjY3YzE5Ljg3NTA5LDAgMzUuODMzMzMsMTUuOTU4MjQgMzUuODMzMzMsMzUuODMzMzNjMCwxOS44NzUwOSAtMTUuOTU4MjUsMzUuODMzMzMgLTM1LjgzMzMzLDM1LjgzMzMzYy0xOS44NzUwOSwwIC0zNS44MzMzMywtMTUuOTU4MjUgLTM1LjgzMzMzLC0zNS44MzMzM2MwLC0xOS44NzUwOSAxNS45NTgyNCwtMzUuODMzMzMgMzUuODMzMzMsLTM1LjgzMzMzeiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+');
  background-position: 2px 2px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 23px;
  padding-top: 3px;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

#search:focus {
  background-color: rgba(255, 255, 255, 0.27);
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

#search::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.container_custom {
  display: flex;
}

.left_bar {
  background-color: rgb(250, 250, 250);
  border-radius: 0px 0px 0px 4px;
  width: 173px;
  height: 377px;

  display: flex;
  flex-direction: column;
}

.content {
  width: 553px;
  height: 378px;
  padding: 7px 15px;
}

.content_top {
  max-width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
}

#category_span {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

#date_span {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 350;
  font-size: 9px;
  color: rgb(128, 128, 128);
}

#sort_span {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.todos {
  max-height: 100%;
  max-width: 100%;
  padding: 7px 93px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 43px;
  padding: 4px 6px;
  background-color: rgb(244, 244, 244);
  border-radius: 3px;
  border: solid rgb(235, 235, 235);
  border-width: 0.5px;
}

.todo span {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

#date_to {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: rgb(128, 128, 128);
}

#top-left {
  flex: 50%; 
}

#top-right {
  text-align: right;
}

#bottom-left {
  flex: 50%;
}

#bottom-right {
  align-self: flex-end;
}

.type_btn {
  display: flex;
  padding-left: 7px;
  padding-top: 2px;
  border-radius: 3px;

  width: 159px;
  height: 22px;
  margin-top: 12px;
  margin-left: 8px;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.type_btn_selected {
  display: flex;
  padding-left: 7px;
  padding-top: 2px;
  border-radius: 3px;

  width: 159px;
  height: 22px;
  margin-top: 12px;
  margin-left: 8px;
  background-color: rgba(0, 0, 0, 0.06);
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.projects {
  width: 159px;
  display: flex;
  flex-direction: column;
  padding-left: 27px;
}

.project {
  display: flex;
  margin-top: 10px;
  height: 18px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.space {
  margin-top: 10px;
}
