html {
  background: white;
}

body {
  margin: 5px;
  width: 726px;
  height: 420px;
  background: white;
  border: solid rgb(219, 76, 63);
  border-width: 1px;
}

.header {
  max-width: 100%;
  height: 41px;
  background: rgb(219, 76, 63);
  padding-left: 11px;
  padding-top: 7px;
}

#search {
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  border-width: 0px;
  width: 136px;
  height: 19px;

  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iI2M4YzhjOCI+PHBhdGggZD0iTTY0LjUsMTQuMzMzMzNjLTI3LjYyMTQsMCAtNTAuMTY2NjcsMjIuNTQ1MjcgLTUwLjE2NjY3LDUwLjE2NjY3YzAsMjcuNjIxNCAyMi41NDUyNyw1MC4xNjY2NyA1MC4xNjY2Nyw1MC4xNjY2N2MxMi41MjczMiwwIDIzLjk3MjU2LC00LjY3MjQ5IDMyLjc4MTksLTEyLjMxNzcxbDMuMDUxNDMsMy4wNTE0M3Y5LjI2NjI4bDQzLDQzbDE0LjMzMzMzLC0xNC4zMzMzM2wtNDMsLTQzaC05LjI2NjI4bC0zLjA1MTQzLC0zLjA1MTQzYzcuNjQ1MjEsLTguODA5MzQgMTIuMzE3NzEsLTIwLjI1NDU4IDEyLjMxNzcxLC0zMi43ODE5YzAsLTI3LjYyMTQgLTIyLjU0NTI3LC01MC4xNjY2NyAtNTAuMTY2NjcsLTUwLjE2NjY3ek02NC41LDI4LjY2NjY3YzE5Ljg3NTA5LDAgMzUuODMzMzMsMTUuOTU4MjQgMzUuODMzMzMsMzUuODMzMzNjMCwxOS44NzUwOSAtMTUuOTU4MjUsMzUuODMzMzMgLTM1LjgzMzMzLDM1LjgzMzMzYy0xOS44NzUwOSwwIC0zNS44MzMzMywtMTUuOTU4MjUgLTM1LjgzMzMzLC0zNS44MzMzM2MwLC0xOS44NzUwOSAxNS45NTgyNCwtMzUuODMzMzMgMzUuODMzMzMsLTM1LjgzMzMzeiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+');
  background-position: 2px 2px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 23px;
  padding-top: 3px;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  -webkit-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

#search:focus {
  background-color: rgba(255, 255, 255, 0.27);
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#search::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.left_bar {
  background-color: rgb(250, 250, 250);
  border-radius: 0px 0px 0px 4px;
  width: 173px;
  max-height: 100%;

  display: flex;
  flex-direction: column;
}

.projects {
  width: 159px;
  display: flex;
  flex-direction: column;
  padding-left: 27px;
}

.project {
  display: flex;
  margin-top: 10px;
  height: 18px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.project span {
  padding-left: 6px;
}

#new-project{
  -webkit-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;

  color: rgba(32, 32, 32, 0.5)
}

#new-project:hover{
  color: rgba(32, 32, 32, 0.8)
}

#new-project img {
  -webkit-transition: filter 0.2s ease-out;
  -ms-transition: filter 0.2s ease-out;
  transition: filter   0.2s ease-out;

  filter: invert(60%) sepia(0%) saturate(476%) hue-rotate(161deg) brightness(91%) contrast(89%);
}

#new-project:hover img {
  filter: invert(3%) sepia(16%) saturate(28%) hue-rotate(314deg) brightness(99%) contrast(85%);
}

#alert-icon img {
  -webkit-transition: filter 0.25s ease-out;
  -ms-transition: filter 0.25s ease-out;
  transition: filter   0.25s ease-out;

  filter: none;
}

#alert-icon:hover img {
  filter: invert(67%) sepia(0%) saturate(1185%) hue-rotate(154deg) brightness(85%) contrast(90%);
}

.content {
  width: 553px;
  height: 378px;
  padding: 7px 15px;
}

.content_top {
  max-width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
}

#category_span {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

#date_span {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 350;
  font-size: 9px;
  color: rgb(128, 128, 128);
}

#sort_span {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.todos {
  max-height: 100%;
  max-width: 100%;
  padding: 7px 93px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 43px;
  padding: 4px 6px;
  background-color: rgb(244, 244, 244);
  border-radius: 3px;
  border: solid rgb(235, 235, 235);
  border-width: 0.5px;

  -webkit-transition: border 0.2s ease-out;
  -ms-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
}

.todo span {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

#date_to {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: rgb(128, 128, 128);
}

.todo-new {
  display: flex;
  max-width: 100%;
  height: 43px;
  padding: 4px 6px;
  background-color: rgb(244, 244, 244);
  border-radius: 3px;
  border: solid rgb(235, 235, 235);
  border-width: 0.5px;
  gap: 7px;
  align-items: center;
  justify-content: center;

  -webkit-transition: border 0.2s ease-out;
  -ms-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
}

.todo:hover, .todo-new:hover
{
  border: solid rgb(194, 194, 194);
  border-width: 0.5px;
}

#input-new {
  color: rgba(96, 96, 96, 1.0);
  background-color: rgba(232, 232, 232, 1.0);
  border-radius: 3px;
  border-width: 0px;
  width: 268px;
  height: 19px;
  padding-left: 4px;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 450;
  font-size: 13px;

  -webkit-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

#input-new:focus {
  background-color: rgba(226, 226, 226, 1.0);
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#input-new::placeholder {
  color: rgba(128, 128, 128, 0.5);
}

.type_btn {
  display: flex;
  padding-left: 7px;
  padding-top: 2px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.00);

  width: 159px;
  height: 22px;
  margin-top: 12px;
  margin-left: 8px;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;

  -webkit-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.type_btn_selected {
  display: flex;
  padding-left: 7px;
  padding-top: 2px;
  border-radius: 3px;

  width: 159px;
  height: 22px;
  margin-top: 12px;
  margin-left: 8px;
  background-color: rgba(0, 0, 0, 0.06);
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.type_btn:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.space {
  margin-top: 10px;
}

.cursor:hover {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#vajno {
  -webkit-transition: filter 0.25s ease-out;
  -ms-transition: filter 0.25s ease-out;
  transition: filter   0.25s ease-out;

  filter: invert(88%) sepia(11%) saturate(1248%) hue-rotate(315deg) brightness(102%) contrast(95%);
}

#vajno:hover {
  filter: invert(70%) sepia(80%) saturate(675%) hue-rotate(310deg) brightness(116%) contrast(103%);
}

#srochno {
  -webkit-transition: filter 0.25s ease-out;
  -ms-transition: filter 0.25s ease-out;
  transition: filter   0.25s ease-out;

  filter: invert(90%) sepia(17%) saturate(213%) hue-rotate(129deg) brightness(94%) contrast(91%);
}

#srochno:hover {
  filter: invert(72%) sepia(28%) saturate(483%) hue-rotate(128deg) brightness(95%) contrast(88%);
}

#iok {
  -webkit-transition: filter 0.25s ease-out;
  -ms-transition: filter 0.25s ease-out;
  transition: filter   0.25s ease-out;

  filter: none;
}

#iok:hover {
  filter: invert(53%) sepia(0%) saturate(638%) hue-rotate(167deg) brightness(95%) contrast(89%);
}


#top-left {
  flex: 50%; 
}

#top-right {
  text-align: right;
}

#bottom-right {
  align-self: flex-end;
  padding-left: 1px;
}